<div class="Computer-hand">
    <div class="ComputerCard" *ngFor="let card of ComputerCards; let i = index" [ngStyle]="getCardStyle(i)" >
        <div class="card-back"></div>
    </div>
</div>

<div class="Table-hand">
    <div class="TableCard" *ngFor="let card of TableCards; let i = index" [ngStyle]="getCardStyle(i)" >
      {{ card.value }}{{ card.suits }}
    </div>
</div>
<div class="player-hand">
  <div class="player-card" *ngFor="let card of Playercards; let i = index" [ngStyle]="getCardStyle(i)" (click) ="onCardClick2(card)" >
    {{ card.value }}{{ card.suits }}
  </div>
</div>

